
:root {
    --black: #151A1A;
    --gold: #D59F54;
    --green: #2edd6b;
    --gray: #1e1f21;
    --gray2: #343434;
    --gray3: #969390;
    --gray4: #8F8C8A;
    --gray5: #303135;
    --gray-light: #333333;
    --dark-gold: #815526;
    --dark-gray: #2e2e2e;
}
@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 100;
    src: url(fonts/LoewLight.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 200;
    src: url(fonts/LoewLight.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/LoewLight.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/LoewLight.ttf);
    font-display: swap;
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 500;
    src: url(fonts/LoewMedium.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 600;
    src: url(fonts/LoewMedium.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/LoewMedium.ttf);
    font-display: swap
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 800;
    src: url(fonts/LoewBold.ttf)
}

@font-face {
    font-family: Loew;
    font-style: normal;
    font-weight: 900;
    src: url(fonts/LoewBold.ttf)
}
body{
    font-family: Loew;
}
/*scroll*/
::-webkit-scrollbar {
    width: 4px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #343434;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D59F54;
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D59F54;
    /*border-radius: 3px;*/
}

body {
    background-color: var(--gray);

}

a:hover, a:active {
    text-decoration: unset;
}

.w-24 {
    width: 24px;
}

.w-22 {
    width: 22px;
}
.w-40 {
    width: 60px;
}

.w-110 {
    width: 110%;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}
.fs-30 {
    font-size: 30px;
}
.lh-26{
    line-height: 26px;
}
.lh-20{
    line-height: 20px;
}
.gold {
    color: var(--gold)!important;
}
.gray3{
    color: var(--gray3);
}
.gray4{
    color: var(--gray4);
}
.gray5{
    color: var(--gray5);
}
.bg-gray2{
    background-color: var(--gray2);
}
.bgr-1 {
    border-right: 1px solid var(--gold);
}
.br-20{
    border-radius: 20px;
}
/*home*/
.loader {
    background-color: var(--gray);
    background-image: url("../img/loader.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1200000000000;
    top: 0;

}


/*nav*/
.nav {
    background-image: url("../img/nav-bg.png");
    background-size: cover;
    width: 0;
    min-height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.nav-div {
    display: none;
}

.nav-section {
    background-image: url("../img/top-nav.png");
    background-size: cover;
    min-height: 72px;
}

.scroll-menu {
    height: 100vh;
    background-color: #1e1f21;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 900px;
}

.nav-links div a {
    color: white;
}

.active-nav {
    background-color: #7a7a7a61 !important;
}

.active-nav a {
    color: var(--gold) !important;
}

.closebtn {
    position: relative;
    left: -16%;
}

.social-nav {
    margin-bottom: 25%;
}

/*filter*/
.filter {
    background-image: url("../img/filter-bg.png");
    background-size: cover;
    width: 0;
    min-height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    transition: 0.5s;
}

.filter-div {
    display: none;
}

.rentType ,.cashType{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--gray);
    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid white;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
    outline: unset;
}

.rentType:focus ,.cashType{
    box-shadow: unset;
}

.rentType:checked ,.cashType{
    border: 2px solid white;
    outline: unset;
    background-color: var(--gray);
}
.rentTypeFilter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--gray);
    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid white;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
    outline: unset;
}

.rentTypeFilter:focus {
    box-shadow: unset;
}

.rentTypeFilter:checked {
    border: 2px solid white;
    outline: unset;
    background-color: var(--gray);
}

/*slide*/
[slider] {
    position: relative;
    height: 6px;
    border-radius: 10px;
    text-align: left;
    margin: 45px 0 10px 0;
}

[slider] > div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 6px;
}

[slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    height: 6px;
    border-radius: 10px;
    background-color: #393939;
    margin: 0 7px;
}

[slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    height: 6px;
    border-radius: 10px;
    background-color: #393939;
    margin: 0 7px;
}

[slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 6px;
    border-radius: 6px;
    background-color: var(--gold);
}

[slider] > div > [thumb] {
    position: absolute;
    top: -7px;
    z-index: 2;
    height: 20px;
    width: 20px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #FFF;
    border-radius: 50%;
    outline: none;
}

[slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 6px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}

div[slider] > input[type=range]:focus {
    outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
    display: none;
}

[slider] > div > [sign] {
    opacity: 0;
    position: absolute;
    margin-left: -15px;
    top: -39px;
    z-index: 3;
    background-color: var(--gold);
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

[slider] > div > [sign]:after {
    position: absolute;
    content: '';
    left: 8px;
    border-radius: 16px;
    top: 19px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: var(--gold);
}

[slider] > div > [sign] > span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
}

[slider]:hover > div > [sign] {
    opacity: 1;
}

/*brand*/
.dropdown-menu{
    background: #2e2e2e;
}
.brand {
    background-color: var(--gray-light);
    color: white;
    border-radius: 20px;
    padding: 6px 15px;
    font-size: 16px;
    margin: 10px 5px 10px 0;
    display: inline-block;
}

.brand-active {
    background-color: var(--gold);
    color: white;
}

.filter-btn {
    background-color: var(--gold);
    border-radius: 10px;
    font-size: 20px;
    border: unset;
}

.filter-btn:active, .filter-btn:focus, .filter-btn:hover {
    background-color: #9f743b !important;
    outline: unset;
    box-shadow: unset !important;
}

/*home*/

.type{
    background-color: #333436;
    padding: 5px 10px;
    border-radius: 15px;
    /*font-size: 20px;*/
}
.type img{
    width: 30px;
}
.type-active{
    background-color: var(--gold);
}
.type-active img{
     filter: sepia(1);
 }

.slick-slide, .slick-slide:hover, .slick-slide:active, .slick-slide:focus, .slick-slide:visited {
    outline: none
}

.body-card {
    /*padding-top: 10px;*/
    color: white;
    background-color: var(--gray-light);
    border-radius: 20px;

}

.body-active {
    background: var(--gold);
    border-radius: 20px;
    /*color: var(--gold);*/
}

.body-active img {
    /*width: 120% !important;*/
    /*margin-left: -10%;*/
    transition: 0.3s;
}

.car-card {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, #1E1F21 0%, #2a2c2f 100%);
    border-radius: 20px;
    overflow: hidden;
}
.hidden{
    display: none;
}
.car-card img {
    border-radius: 20px;
}

.btn-outline-dark {
    color: #ffffff;
    border: unset;
    background: #ffffff12;
    padding: 0;
    font-size: 10px;
    border-radius: 0;
}

.car-card-details:hover .details-1 {
    display: none;
}

.car-card-details:hover .details-2 {
    display: block;
}

.details-2 {
    /*display: none;*/
}
.car-detail-content {
    max-height: 45vh;
    overflow-y: auto;
}

.car-slider .slick-dots li button:before {
    font-size: 7px;
    color: var(--gold);
    width: 11px;
    height: 11px;
    line-height: 11px;
}

.car-slider .slick-dots li.slick-active button:before {
    color: var(--gold);
    /*outline: 1px solid var(--gray-light);*/
    /*border-radius: 50%;*/
}

.slick-dotted.slick-slider {
    margin: 0;

}

.car-slider .slick-dots {
    bottom: 10px;
}

.car-slider .slick-dots li {
    margin: 0;
}

.card-brand {
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 20px;
    width: 40px;
}


/*boock*/
.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.book-menu {
    background: #34343461;
    background-size: cover;
    width: 0;
    min-height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    transition: 0.5s;
    backdrop-filter: blur(6px);
}

.book-div {
    display: none;
}
.select2-dropdown{
    z-index: 111111;
}
input[type="checkbox"].switch_1:checked{
    background-color: var(--gold);
}
input[type="checkbox"].switch_1 {
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1em;
    background: var(--gray2);
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
input[type="checkbox"].switch_1:after {
    position: absolute;
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after {
    left: calc(100% - 1em);
}



.divider {
    background-color: var(--gold);
    width: 75%;
    height: 2px;
    margin: auto;
}
.select2-container--default .select2-selection--single {
     background-color: unset;
     border: 0;
     border-radius: 0;
}
.book-form .form-control{
    background-color: var(--gray2);
    border-radius: 15px;
    border: var(--gray2);
    outline: unset;
    height: 40px;
    color: white;

}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: var(--gray2);
    border-radius: 15px!important;
    border: var(--gray2);
    outline: unset;
    /*height: 40px;*/
    color: white;
    text-align: center;

}
.select2-results__option{
    text-align: center;
}
.select2-dropdown{
    background-color: var(--gray2);
    border-radius: 15px;
    border: 1px solid var(--gray2);
    color: white;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    background-color: var(--gray2);
    border-radius: 15px;
    border: 1px solid #4f4f4f;
    color: white;
}
.select2-search{
    border-radius: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #6c757d;
}
.select2-search__field:focus-visible{
    border: unset;
    box-shadow: unset;
    outline: unset;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: var(--gold);
}
.book-form .form-control:active, .book-form .form-control:focus, .book-form .form-check-input:active, .book-form .form-check-input:focus {
    box-shadow: unset;
}
.select2{
    width: 100%!important;
}
.book-form .form-check-input {
    background-color: var(--gray);
    border-color: white;
    position: unset;
    width: 20px;
    height: 20px;
}



.book-btn,.book-btn:active, .book-btn:focus, .book-btn:hover {
    background-color: #9f743b !important;
    border-radius: 10px;
    font-size: 20px;
    border: unset;
    margin-bottom: 100px;
    outline: unset;
    box-shadow: unset !important;
}
.book-btn{
    background-color: var(--gold) !important;
}
.book-btn2,.book-btn2:active, .book-btn2:focus, .book-btn2:hover {
    background-color: #9f743b !important;
    border-radius: 10px;
    font-size: 20px;
    border: unset;
    outline: unset;
    box-shadow: unset !important;
}
.book-btn2{
    background-color: var(--gold) !important;
}
.book-btn2:disabled {
    background-color: #5a5b5c!important;
    border-radius: 10px;
    font-size: 20px;
    border: unset;
    box-shadow: unset !important;
}
.daterangepicker.dropdown-menu {
    z-index: 999999999999999999999999;
}

.dropdown-menu .right .calendar-table {
    position: absolute;
    top: 15px;
    right: 5px;
    z-index: 3;
}
.daterangepicker .calendar-time {
    border-bottom: 1px solid #464646;
    margin: 0 10px;
}
.dropdown-menu .right tbody {
    display: none;
}

.dropdown-menu .right thead tr th:first-child {
    display: none;
}

.dropdown-menu .right thead tr th:nth-child(2) {
    display: none;
}

.dropdown-menu .right thead tr:nth-child(2) {
    display: none;
}

.dropdown-menu .right .calendar-table {
    background-color: #FFF0;
    color: transparent;
}

.dropdown-menu .right .calendar-table .next {
    color: white;
}
.month{
    color: var(--gold);
    font-size: 24px;
}
.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date{
    background-color: #fff0;
}
.dropdown-menu .left .calendar-table {
    position: relative;
    z-index: 2;
}

.daterangepicker .input-mini {
    display: none;
}

.daterangepicker .fa-calendar {
    display: none;
}

.right .daterangepicker_input {
    position: absolute;
    top: 40px;
    width: 94%;
}

.range_inputs .cancelBtn {
    display: none;
}

.range_inputs .applyBtn {
    width: 100%;
    background-color: var(--gold);
    border: 0;
    font-size: 20px;
    border-radius: 10px;
    margin: 20px 0;
}
.range_inputs .applyBtn:disabled {
    width: 100%;
    background-color: #5a5b5c;
}
.range_inputs .applyBtn:active,.range_inputs .applyBtn:focus,.range_inputs .applyBtn:hover{
    background-color: var(--gold)!important;
    box-shadow: unset;
}
.daterangepicker {
    background-color: #333436;
    border-radius: 20px;
    color: white;
}
.daterangepicker .calendar-table{
    background-color: #333436;
}
.daterangepicker .calendar-table{
    border: unset;
}
.daterangepicker td.in-range{
    background-color: #5b5c5e;
    color: white;
    border: 0;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: var(--gold);
}
.daterangepicker td.end-date {
    border-radius: 0 10px 10px 0;
}
.daterangepicker td.start-date{
    border-radius: 10px 0 0 10px;
}
.daterangepicker td.start-date.end-date{
    border-radius: 10px;
}
.calendar-time select{
    background: #333436;
    border: 0;
    color: white;
}.calendar-time select:focus-visible{
    outline: unset;
}
.calendar-time .fa-clock-o{
    color: var(--gold);
}
.table-condensed thead tr th{
       border-radius: unset;
   }
.table-condensed thead tr th:first-child{
    border-radius: 10px 0 0 10px;
}
.table-condensed thead tr th:last-child{
    border-radius: 0 10px 10px 0;
}
.table-condensed thead tr:nth-child(2){
    background-color: #464646;
    border-radius: 0;
    color: #5e5d5d;
}
.end-date + .in-range{
    background-color: unset!important;
}
.parsley-errors-list{
    list-style: none;
    padding: 7px;
    color: red;
}
.parsley-required{
    /*color: white;*/
    font-size: 12px;
}
.clear-book:active, .clear-book:hover, .clear-book:focus{
    color: var(--gold);
}
.select2-container *:focus {
    outline: none;
}
/*confirm*/
.confirm-book{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    backdrop-filter: blur(5px);
    right: 0;
    background: #0f0f10de;
    z-index: 44444;
    display: none;
}
/*about*/
.tab{
    color: var(--gray4);
}
.tab-active {
    border-bottom: 2px solid var(--gold);
    color: var(--gold);
}
.cursor{
    cursor: pointer;
}

/*FAQ*/

#faq-section .card-header {
    background-color: unset;
    color: white;
    padding: 0;

}
#faq-section .card  {
    background-color: var(--gray2);
    color: white;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;

}

#faq-section .card-header a {
    border-radius: 0;
    padding: 10px 15px;
    background-color: var(--gold);
    color: white;
}

#faq-section .collapsed {
    background-color: var(--gray2)!important;

}


/*contact*/
.contact-form .form-control{
    background-color: #444446;
    border-radius: 15px;
    border: #444446;
    outline: unset;
    height: 40px;
    color: white;

}
.contact-form textarea{
    height: auto!important;
}
.bold{
    font-weight: bold;
}

.contact-btn,.contact-btn:active, .contact-btn:focus, .contact-btn:hover {
    background-color: #9f743b !important;
    border-radius: 10px;
    font-size: 20px;
    border: unset;
    outline: unset;
    box-shadow: unset !important;
}
.contact-btn{
    background-color: var(--gold) !important;
}
.contact-div{
    padding: 24px;
    background-color: var(--gray5);
    border-radius: 10px;
}
.contact-div-icon{
    background: var(--gray5);
    font-size: 34px;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 12px;
    display: inline-block;
}
.contact-div-icon .fa{
    width: 50px;
    height: 50px;
    display: flex;
}
.contact-div-icon .fa:before{
    margin: auto;
}

/*terms*/
#terms{
    background-image: url("../img/bg-terms.png");
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    min-height: calc(100vh - 72px);
}
.terms-num{
    position: absolute;
    font-size: 65px;
    margin-top: -40px;
}
.terms-title{
    position: relative;
    text-shadow: 0 0 20px #1e1f21;
}
/*blog*/
.blog-card{
    border-radius: 10px;
    overflow: hidden;
}
.blog-title{
    background: #1f1f219c;
    color: white;
    position: relative;
    margin-top: -55px;
    text-align: center;
    width: 100%;
    padding: 13px 5px;
}
.blog-title span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 24px;
}

.blog-divider{
    width: 100%;
    height: 2px;
    background-color: #292A2C;
}

@media (min-width: 564px) {
    .daterangepicker.ltr .ranges, .daterangepicker.ltr .calendar {
        float: unset;
    }
}


/*web*/
.bbw-1 {
    border-bottom: 1px solid white;
}

.brg-1 {
    border-right: 1px solid var(--gray);
}
.bb-1{
    border: 1px solid black;
}
.bg-1{
    border: 1px solid var(--gray);
}
.brw-1{
    border-right: 1px solid white;
}
.lbg-1{
    border-left: 1px solid var(--gold);
}
.bga-1{
    border: 1px solid var(--gold);
    border-radius: 10px;
}
.blg-1{
    border-left: 1px solid var(--gold);
}
.bbg-1{
    border-bottom: 1px solid var(--gold);
}

.mbm-12{
    position: relative;
    bottom: -12px;
}
.section-divider {
    width: 100%;
    height: 10px;
    background-color: var(--dark-gray);
}

.w-30 {
    width: 30%;
}.w-10 {
     width: 10%;
 }
.rbg{
    border-right: 1px solid var(--gray);
}
.cursor{
    cursor: pointer;
}
.mt-65{
    margin-top: 65px;
}

.fs-130 {
    font-size: 130px;
}

.fs-110 {
    font-size: 110px;
}

.fs-100 {
    font-size: 100px;
}

.fs-80 {
    font-size: 80px;
}

.fs-70 {
    font-size: 70px;
}

.fs-50 {
    font-size: 50px;
}

.fs-40 {
    font-size: 40px;
}

.fs-30 {
    font-size: 30px;
}

.fs-24 {
    font-size: 24px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}
.yellow {
    color: #fd9322;
}
/*nav*/
.navbar {
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.dark-nav {
    background-color: var(--dark-gray);
}

.active .nav-link, .nav-link:hover {
    color: var(--gold) !important;
}

.nav-link {
    font-size: 14px;
    font-weight: bold;
    color: white !important;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #f8f9fa;
    text-decoration: none;
    background-color: #b07b42;
}
.brand-menu{
    width: 40vw;

}
.brand-menu div{
    padding: 0.6vw;
}
.brand-menu div img{
    width: 5vw;

}
.navbar-nav {
    justify-content: space-around;
    width: 70%;
}

.navbar-toggler {
    border: 0 !important;
    /*border-color:unset!important;*/
}

.navbar-toggler:focus{
    box-shadow: unset;
}
.search-input {
    position: absolute;
    top: 20px;
    right: 70px;
}

/*intro*/

.ci1 {
    background-image: url('../img/intro1.webp');
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.ci2 {
    background-image: url('../img/intro2.webp');
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.ci3 {
    background-image: url('../img/intro3.webp');
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.intro-control {
    font-size: 40px;
    position: absolute;
    right: 10vw;
    bottom: 14vh;
}

.intro-control a:hover {
    text-decoration: unset;
}

.intro-prev:hover i {
    background: white;
    color: black !important;
}

.intro-next:hover i {
    background: white;
    color: black !important;
}

.arrow-icon {
    border: 2px solid white;
    padding: 0 13px;
    border-radius: 50%;

}

.social-media a:hover {
    cursor: pointer;
}
.social-media .fa {
    width: 44px;
    text-align: center;
}

.social-media a {
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
}
.social-media a:hover .fa {
    color: var(--black);
}

.social-media a:hover {
    background-color: var(--gold) !important;
}
.btn-outline-light {
    color: white !important;
    border: 3px solid var(--gold) !important;
}
.btn-outline-light:hover {
    color: white;
    background-color: var(--gold);
}
/*book form*/

.book-form-container {
    background-color: var(--dark-gray);
    border-radius: 10px;
}

.book-form-container2 {
    /*background-color: var(--dark-gray);*/
    border-radius: 10px;
}

.book-form-container .form-control {
    background-color: #fff0;
    color: white;
    border-radius: 0;
    border: unset;
    border-bottom: 3px solid white;

}

.book-form-container .form-control:focus {
    box-shadow: unset;
}

.book-form-container .form-control::placeholder {
    color: #727575;
    font-weight: bold;
}


.book-form-container2 .form-control {
    background-color: #fff0;
    color: var(--black);
    border-radius: 0;
    border: unset;
    border-bottom: 3px solid var(--gray2);

}

.book-form-container2 .form-control:focus {
    box-shadow: unset;
}

.book-form-container2 .form-control::placeholder {
    color: #727575;
    font-weight: bold;
}

.search-form .form-control {
    background-color: #fff0;
    color: var(--black);
    border-radius: 0;
    border: unset;
    border-bottom: 3px solid var(--gray4);

}

.search-form .form-control:focus {
    box-shadow: unset;
}
.swal2-container{
    z-index: 9999;
}
.search-form .form-control::placeholder {
    color: var(--gray-light);
    font-weight: bold;
}
.btn-warning {
    background: #d59f54;
    background: linear-gradient(0deg, #d59f54 0%, rgba(183, 134, 67, 1) 100%);
    border-radius: 0 10px 0 10px;
    border: 1px solid var(--gold);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:disabled {
    background: linear-gradient(180deg, #d59f54 0%, rgba(183, 134, 67, 1) 100%);
    border-color: var(--gold) !important;
    border: 1px solid var(--gold);
    box-shadow: unset !important;
}
.iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 6px;
    color: white;
}
.iti{
    display: block;
}
.gold-divider {
    background-color: var(--gold);
    height: 5px;
    width: 40%;
    margin: auto;
}

.mxw-100 {
    max-width: 100px;
}

.mxw-150 {
    max-width: 150px;
}
/*brand*/
#brand-section {
    background-image: url("../img/brand-bg.png");
    background-position: center;
    background-size: cover;
}

#brand-section .slick-dots li {
    width: 30px;
}

#brand-section .slick-dots li button:before {
    content: unset;
}

#brand-section .slick-dots li button {
    background-color: var(--gray3);
    width: 30px;
    height: 5px;
    margin: 20px 0;
    padding: 0;
}

#brand-section .slick-dots .slick-active button {
    background-color: var(--gold);
}

/*faq*/
#faq-section2 {
    background: #d2cece;
    background: linear-gradient(0deg, #d2cece 0%, white 100%);
}

#faq-section2 .card-header {
    background-color: unset;
    color: white;
    padding: 0;
}

#faq-section2 .card-header a {
    border-radius: 0;
    padding: 15px;
    background-color: var(--black);
    color: white;
}

#faq-section2 .collapsed {
    background-color: white !important;
    color: black !important;
}

/*google review*/
.review-card {
    border: 1px solid var(--gray2);
    padding: 20px;
    border-radius: 20px;
    background: #0000009c;
}
.google-review .review-card{
    background-color: #0000002e;
}
.review-img {
    max-width: 50px;
    min-width: 30px;
}
/*about*/

.bg-about {
    background-image: url(../img/about-bg.png);
    background-size: cover;
    padding-top: 92px;
}

.bg-gold {
    background-color: var(--gold);
}
.btn-dark {
    color: white !important;
    background-color: black;
    outline: 1px solid white;
    border-radius: 0 10px 0 10px;
}
.black{
    color: black!important;
}
.about-title-desc h1{
    color: white!important;
    font-size: 2.25rem;
    text-align: left!important;
}
.about-title-desc p{
    color: white!important;
    font-size: 16px;
    text-align: left!important;
}
.about-desc div h5 {
    color: black;
    font-weight: normal;
    font-size: 16px;

}
.d-f{
    display: flex;
}
.about-desc div p{
    color: black;
    font-weight: normal;

}.about-desc div i{
    color: var(--gold);

}
.bg-review{
    background-image: url(../img/brand-bg.png);
    background-position: center;
    background-size: cover;
}

/*contact*/
.bg-contact {
    background-image: url(../img/contact-bg.png);
    background-size: cover;
}
.fa-map-marker{
    width: 24px;
}
.contact-form-web .form-control{
    border: 1px solid #575b5b;
}
.contact-form-web .form-control:focus{
    box-shadow: 0 0 0 0.2rem #575b5b38;
}
/*details*/
.details-car-price{
    border-radius: 10px;
    padding: 20px;
    background-color: #1a1f1f;
}

.v-divider{
    width: 2px;
    background: var(--gray3);
    height: 70px;
}
.price-div{
    padding: 20px;
    border: 1px solid var(--gray3);
    width: 75%;
    margin: auto;
    border-radius: 10px;
}
.search-car .select2-container--default .select2-selection--single .select2-selection__rendered{
    border: 1px solid #ced4da;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 5px!important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #9d7337;
}
.bg-gray-light {
    background-color: #c6c7c7;
}
.brand{
    cursor: pointer;
}
/*search*/
.search-result{
    background: white;
    width: 204px;
    max-height: 100px;
    overflow-y: auto;
    margin-top: -4px;
}
.text-black{
    color: black;
}
@media (max-width: 1700px) {
    .fs-110 {
        font-size: 80px;
    }

    .fs-70 {
        font-size: 40px;
    }

    .fs-24 {
        font-size: 20px;
    }
}
@media (min-width: 1200px) and  (max-width: 1600px){

    .car-list .btn-outline-dark{
        font-size: 7px;
    }
}
@media (min-width: 767px) and  (max-width: 1000px){

    .car-list .btn-outline-dark{
        font-size: 7px;
    }
}
@media (max-width: 1400px) {
    .navbar-nav {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .navbar-brand img {
        width: 200px;
    }

    .navbar-nav {
        width: 95%;
    }
    .nav-link{
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .dropdown-item{
        text-align: center;
        color: white;
    }
    /*.dropdown-menu{*/
    /*    width: 100%;*/
    /*    background-color: var(--dark-gray);*/
    /*    border:unset;*/
    /*}*/
    .brand-menu img{
        width: 10vw!important;
    }
    .navbar {
        justify-content: space-between;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-collapse {
        background-color: var(--dark-gray);
    }

    .search-input {
        position: absolute;
        top: 20px;
        right: 110px;
        width: auto;
    }
}
@media (max-width: 767px) {
    .body-active {
        background: #ffffff0a;
        border-radius: 20px;
        /*color: var(--gold);*/
    }
    .brand-active {
        background-color: white;
        color: var(--gray-light);
    }
    .body-card {
        padding-top: 10px;
        color: white;
    }
    #faq-section{
        background-image: url("../img/bg-faq.png");
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        min-height: calc(100vh - 72px);
    }
    .w-40 {
        width: 40px;
    }
}@media (max-width: 680px) {
    .btn-outline-dark {
    font-size: 8px;
    }
}
@media (max-width: 360px) {
    .type{
        font-size: 14px;
    }
    .type img{
        width: 20px;
    }
}
