/*scroll*/
::-webkit-scrollbar {
    width: 4px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #343434;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #202020;
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #202020;
    /*border-radius: 3px;*/
}
body {
    background-color: #343434;

}
body section{
    margin-left: 64px;
}

/*login*/
#logInForm {
    width: 50%;
}

/*side menu*/
:root {
    --black-color: #202020;
    --white-color: #fff;
    --sky-color: #E4E9F7;
    --light-black: #1c1c1c;
}

body {
    position: relative;
    min-height: calc(100vh - 60px);
    width: 100%;
    overflow: auto;
}

::selection {
    color: var(--white-color);
    background: var(--black-color);
}

.nav_list {
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: var(--black-color);
    padding: 6px 14px;
    z-index: 99;
    /*transition: all 0.5s ease;*/
}


.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    color: var(--white-color);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    /*transition: all 0.5s ease;*/
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: var(--white-color);
    top: 6px;
    left: 50%;
    font-size: 22px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 120px);
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 5px 0;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 120px;
    background: var(--white-color);
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar ul li .tooltip::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--white-color);
    position: absolute;
    left: -8px;
    top: 7px;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: var(--white-color);
}

.sidebar ul li .bx-search {
    position: relative;
    z-index: 99;
    color: var(--white-color);
    font-size: 22px;
    /*transition: all 0.5s ease;*/
}

.sidebar ul li .bx-search:hover {
    background: var(--white-color);
    color: #1d1b31;
}

.sidebar ul li a {
    color: var(--white-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;

}

.sidebar ul li a:hover {
    color: var(--black-color);
    background: var(--white-color);
    transition: all 0.4s ease;
}

.activeBar {
    color: var(--black-color);
    /*background: #c95050;*/
    background: #D59F54;
    border-radius: 12px;
}

.sidebar ul li i {
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    min-width: 46px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.sidebar.active .links_name {
    transition: 0s;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .content {
    position: absolute;
    color: var(--white-color);
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .content .user {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

.sidebar.active .content .user {
    background: var(--light-black);
}

.content .user .user_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar.active .user .user_details {
    opacity: 1;
    pointer-events: auto;
}

.content .user .user_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.name_job {
    margin-left: 10px;
}

.user_details .name {
    font-size: 15px;
    font-weight: 400;
}

.user_details .job {
    font-size: 12px;
}

#log_out {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
}

.sidebar.active .user #log_out {
    left: 80%;
    background: none;
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    background: var(--sky-color);
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    /*transition: all 0.5s ease;*/
}

.sidebar.active ~ .home_content {
    z-index: 100;
    width: calc(100% - 240px);
    left: 240px;
}

.home_content .text {
    font-size: 25px;
    font-weight: 600;
    color: var(--light-black);
    margin-bottom: 15px;
}

.home_content p {
    margin-bottom: 15px;
}


.navbar-brand {
    width: 200px;
}

.navbar-nav {
    font-size: 20px;
}

.parsley-errors-list {
    padding: 0;
    list-style: none;
    color: #ff6868;
}

.user-list {
    color: white;
    list-style: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.table-striped , .dt-bootstrap4, .table-striped.table {
    color: white !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, .05);
}
.table-striped{
    /*width: 100% !important;*/
    overflow: auto;
    /*display: block;*/
}
/*.row{*/
/*    overflow-x: auto;*/
/*}*/
.table-filter {
    background-color: #525252;
    color: white
}

.dataTables_processing {
    background-color: #202020;
    padding: 5px 0;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
}

.custom-file-label::after {
    color: #ffffff;
    background-color: #3490dc;
}

.page-link {
    color: #ffffff;
    background-color: #282c30;
    border: 1px solid #dee2e6;
}

.page-item.disabled .page-link {
    background-color: #fff;
}
.table-img{
    width: 200px;
}


.bootstrap-tagsinput{
    width: 100%;
    max-width: unset;
    line-height: unset;
}
.label-info{
    background: #38c172;
    padding: 4px;
    border-radius: 10px;
}
.kv-fileinput-caption,.file-preview{
    background-color: white!important;
}
.kv-file-remove{
    display: none;
}
.swal2-timer-progress-bar {
    background: white;
}
.swal2-title{
    color: white;
}
.swal2-popup{
    background: #474747!important;
    border-radius: 15px;
}
.trumbowyg-editor{
    background-color: white;
}


.divider{
    width: 100%;
    height: 2px;
    background: #727272;
}
.fs-20{
    font-size: 20px;
}
.select2-container .select2-selection--single{
    height: unset;
    padding: 5px;
}
.badge-secondary{
    background-color: #d59f54!important;
}
.SEODetails{
    display: flex;
    justify-content: space-between;
    /*opacity: 0;*/
}
/*@media (min-width: 1200px) {*/
/*    .container-xl, .container-lg, .container-md, .container-sm, .container {*/
/*        max-width: 80vw;*/
/*    }*/
/*}*/
@media (max-width: 767px) {
    #logInForm {
        width: 100%;
    }
}
